* {
 margin: 0;
 padding: 0;
  box-sizing: border-box;
  font-family: 'helvetice neue';
}

html, body {
  height: 100px;
  width: 100px;
}
.card{
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  width: 800px;
  height: fit-content;
 

}