.header{
  background-color: #3dc4f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 5px;
}

/* .btn{
  background-color:yellow;

} */
 .btn{
  background-color: rgb(213, 241, 233);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}
/* .logo{
  text-decoration: underline;
} */
 .logo{
  text-decoration: underline;
  color: white;
  font-size: 20px;
  cursor: pointer;
}