*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
html,body{
  height: 100%;
  width: 100%;
}
input,button{
  /* margin-top: 30px;
  margin-left: 35px; */
  margin: 12px;
  padding: 10px 20px;
  font-size: 15px;
  color: red;
}